<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Регистрация</h1>
<form method="post">
    <p>Имя <input type="text" ></p>
    <p>Фамилие <input type="text" ></p>
    <p>Отчество <input type="text" ></p>
    <p>Возраст <input type="text" ></p>
    <p>Почта <input type="email" ></p>
    <p>Зарплата <input type="text" ></p>
    <p>Место работы <input type="text" ></p>
    <p><input type="submit"><input type="reset"></p>
</form>
</body>
</html>